.abt {
  color: rgb(246, 242, 242);
  text-align: center;
  width: 50%;
  margin: 450px;
  display: flex;
  justify-content: center;
}
.pepinillo {
  width: 150px;
  height: 150px;
  padding-left: 350px;
}
