.detail {
  margin-top: 80px;
  text-align: center;
  display: flex;
}

.txt {
  color: rgb(255, 10, 2);
  margin-left: 120px;
  border: 5px solid rgb(131, 12, 182);
  border-radius: 5px;
  background-image: url("../imagen/neon.png");
  background-repeat: no-repeat;
  box-shadow: 0 0 500px rgb(231, 39, 39);
}
.txt br {
  margin-bottom: 1px;
}

.img {
  width: 600px;
  height: 600px;
  padding-left: 350px;
}

.img img {
  border-radius: 10px;
  box-shadow: 0 0 500px rgb(205, 18, 18);
  border: 8px solid rgba(131, 12, 182, 0.823);
}
.txt img {
  width: auto;
}
