.nav {
  background-color: rgba(54, 106, 151, 0.17);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 2px solid blue; */
  border-radius: 6px;
  padding: 8px;
}

.nav button{
  border-radius: 5px;
  border: 1px transparent;
  background-color: rgb(147, 19, 149);
  color:aliceblue;
  border: .5px solid white;
  transition: .1s;
  padding: 5px;
  margin-top: 5px;
}
.nav button:hover{
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
  transform: translate(0, -.5px);
  cursor: pointer;
}

.nav input{
  border-radius:  10px;
  font-family: cursive;
}
.nav p{
  font-family: cursive;
  text-shadow: 0 0 1px;
}