.card{

    border: 8px solid rgba(131, 12, 182, 0.823);

    width: 22%;

    margin: 20px;

    color: white;

    border-radius: 10px;

    box-shadow: 0 0 50px rgb(159, 103, 199);

    background-color: rgb(131, 12, 182, 0.823);
}

img{
    width: 80%;
}

.buttonContainer button {

    border: 3px solid rgba(188, 41, 9, 0.823);

    color: white;

    border-radius: 8px;
    
    background-color: rgba(188, 41, 9, 0.823);;
}

